<!-- client-dashboard.component.html -->
<mat-drawer-container class="dashboard-container">
  <!-- Side Navigation Drawer -->
  <mat-drawer #drawer mode="side" class="sidebar shadow">
    <mat-toolbar color="primary">Dashboard</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/client">Home</a>
      <a mat-list-item routerLink="/client/order" routerLinkActive="active">Order</a>
    </mat-nav-list>
  </mat-drawer>

  <!-- Main Content Area -->
  <mat-drawer-content>
    <!-- Top App Bar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle(); toggleDrawer();"
      class="btn-show-sidebar">
        <i class='bx bx-minus' *ngIf="drawerState == 'closed'"></i>
        <i class='bx bx-plus' *ngIf="drawerState == 'open'"></i>
      </button>

      <span>Client Dashboard</span>

    </mat-toolbar>
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </mat-drawer-content>
</mat-drawer-container>
