
<div class="flex">
  <div class="w-[10vw] min-h-[100vh] bg-amber-200">

    <h2 class="text-2xl font-bold text-red-400 text-center mt-5">LOGO</h2>


    <ul class="mt-5 flex flex-col justify-center items-center gap-2 px-2 text-center">
      <li class="bg-red-400 hover:bg-red-600 rounded py-2 px-4 w-full">Users</li>
      <li class="bg-red-400 hover:bg-red-600 rounded py-2 px-4 w-full">Equipments</li>
      <li class="bg-red-400 hover:bg-red-600 rounded py-2 px-4 w-full">Orders</li>
    </ul>

  </div>
  <div class="w-[90vw] min-h-[100vh] bg-gray-100">
    <app-user></app-user>
  </div>
</div>
