
<h2 class="text-2xl font-bold text-[#5CD3E6] text-center mt-5"><a routerLink="/home">LOGO</a></h2>

<ul class="mt-5 flex flex-col justify-center items-center gap-2 px-2 text-center">
  <li class="bg-[#5CD3E6] hover:bg-[#3085C3] hover:text-[#FAF2D3] rounded py-2 px-4 w-full"><a routerLink="user-management">Users</a></li>
  <li class="bg-[#5CD3E6] hover:bg-[#3085C3] hover:text-[#FAF2D3] rounded py-2 px-4 w-full"><a routerLink="equipments">Equipments</a></li>
  <li class="bg-[#5CD3E6] hover:bg-[#3085C3] hover:text-[#FAF2D3] rounded py-2 px-4 w-full"><a routerLink="orders">Orders</a></li>
</ul>
