
<h2 class="text-2xl font-bold text-[#5CD3E6] text-center mt-5"><a routerLink="/admin">LOGO</a></h2>

<div class="mt-5 flex flex-col justify-center items-center gap-2 px-2 text-center">
  <button class="bg-[#5CD3E6] hover:bg-[#3085C3] hover:text-[#FAF2D3] rounded py-2 px-4 w-full"
          routerLink="user-management">Users</button>
  <button class="bg-[#5CD3E6] hover:bg-[#3085C3] hover:text-[#FAF2D3] rounded py-2 px-4 w-full"
          routerLink="equipments">Equipments</button>
  <button class="bg-[#5CD3E6] hover:bg-[#3085C3] hover:text-[#FAF2D3] rounded py-2 px-4 w-full"
      routerLink="orders">Orders</button>
</div>
